* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background:linear-gradient(135deg, #1e1e1e, #1b1a1a) ;
}

body {
  background: linear-gradient(135deg, #1e1e1e, #333333);
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #2c2c2c;
  width: 80vmin;
  padding: 40px 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

button {
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  border: none;
  background-color: #444444;
  outline: none;
  color: #f0f0f0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555555;
}

select {
  padding: 8px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: #333333;
  color: #f0f0f0;
}

.options label,
.options select {
  font-family: 'Poppins', sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 36px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #2c2c2c, 0 0 0 3px #444444;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #2c2c2c, 0 0 0 3px #444444;
}

#text-input {
  margin-top: 15px;
  border: 1px solid #444444;
  padding: 25px;
  height: 50vh;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #f0f0f0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.active {
  background-color: #3a3a3a;
}

.count {
  width: 70%;
  padding: 25px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  background-color: #2c2c2c;
}

.count p {
  color: #e0e0e0;
}

.count h5 {
  color: #4a90e2;
  font-size: 36px;
}
